@import url('./default.css');
@import url('https://fonts.googleapis.com/css?family=Nunito:600');


#logotipo{
    display: inline-block;
    margin-top: 40px;
    text-align: center;
    padding: 20px;
    height: 300px;
}
.img {
    width:  250px;
    height: 250px;
}
#content {
    margin-top: 50px;
    padding: 170px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 0.1rem;
   
}

#content a {
    text-decoration: none;
    color: white;
    letter-spacing: 0.3rem;
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
}

#get_price{
    text-align:center;
}
.card {
    font-family: 'Nunito', sans-serif;
    background-color: #54D467 !important;
    height: 150px;
    border-radius: 10px !important;
    
}
.card-text{
    padding: 10px;
    margin-top: 15px;
    text-align: center;
}

#content button{
    border: none;
    width: 140px;
    height: 46px;
    text-decoration: none;
    color: white;
    background-color: #4cd566;
    padding-top: 5px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    border-radius: 23px;
    border: 2px solid #654ea6;
}