@import url('https://fonts.googleapis.com/css?family=Anton|PT+Sans+Caption:700');
@import url('./default.css');


#header {
    letter-spacing: 0.09rem;
    width: 100%;
    margin-top: 10px;
    text-align: center;
    height: 50px;
    padding: 110px;
    font-family: 'Anton', sans-serif;
    font-family: 'PT Sans Caption', sans-serif;
    

}

#coins {
    width: 100%;
    margin-top: 60px;
    text-align: center;
    height: 200px;
    font-family: 'Anton', sans-serif;
    font-family: 'PT Sans Caption', sans-serif;
   
}

#bitcoin {
    
    display: inline-block;
    padding: 115px;
    letter-spacing: 0.05rem;
    line-height: 1.7;
    font-family: 'Anton', sans-serif;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 35px;
    
}
#litecoin {
   
    display: inline-block;
    padding: 135px;
    letter-spacing: 0.05rem;
    line-height: 1.7;
    font-family: 'Anton', sans-serif;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 35px;
  }

  .h3{
      margin-top: 6px;
  }

#logo_bitcoin {
    width: 150px;
    height: 150px;
}

#logo_litecoin {
    width: 120px;
}

#bitcoin a {
    text-decoration: none;
    color: white;
}

#litecoin a {
    text-decoration: none;
    color: white;
}